<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="mb-0">For Children</p>
            <div class="d-lg-flex justify-content-between align-items-center">
                <span class="contentheader lh-1">The Wonder of <br> the growing years</span>
                <div class="d-none d-md-inline">
                    <app-seeall-button></app-seeall-button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-product-card *ngFor="let productdetails of "></app-product-card>
    </div>
</div>