<app-cust-info></app-cust-info>
<app-navbar></app-navbar>
<app-heading-section></app-heading-section>
<app-banner></app-banner>
<app-trending></app-trending>
<app-explore-craft></app-explore-craft>
<app-choices-section></app-choices-section>
<app-two-images></app-two-images>
<app-heart-resides></app-heart-resides>
<app-craft-form></app-craft-form>
<app-men-things></app-men-things>
<app-wonder-growing></app-wonder-growing>
<app-bulk-order></app-bulk-order>
<app-explore-collections></app-explore-collections>
<app-footer-section></app-footer-section>
<app-footer></app-footer>