.button__seeall {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 14px 28px;
    font-size: 20px;
    background-color: #f9f2ea;
    text-align: center;
}

.button__seeall:hover {
    background-color: black;
    color: white;
}