.sectiontwo img {
    width: 52.5em;
}

.girlimg {
    height: 30.6em;
}

@media only screen and (max-width: 764px) {
    .sectiontwo img {
        max-width: 100%;
        height: auto;
    }
    .girlimg {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .sectiontwo img {
        width: 29.5em;
    }
    .girlimg {
        width: 14.5em;
        height: 17.1em;
        margin-left: 12px;
    }
}