<div class="container-fluid place-order overflow-hidden">
    <div class="row bulk-orders">
        <div class="col-md-6 text-center d-none d-md-inline">
            <img src="../../../assets/Bulk_banner.webp" alt="elephant" class="elephant_img">
        </div>
        <div class="col-md-4 my-auto mt-5">
            <p>For large orders</p>
            <h3 class="bulk_order marginb30">Place a bulk<br>
                order with us</h3>
            <p class="bulk_order-para">Whether you want to place a large customised order for a single item or
                a large assortment of multiple
                craft products, we can sort it out for you! For years we have also worked on custom orders for our
                clients – it is one of the many benefits of having direct relationships with our artisans. Just drop us
                a note!</p>
            <div>
                <button class="learnbtn text-center mb-2">Learn More</button>
                <button class="getbtn">Get In Touch</button>
            </div>
        </div>
    </div>
</div>