<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 background_image">
            <div class="ms-lg-5">
                <img src="../../../assets/TICH-logo_2000x.webp" alt="logo" class="logo_image">
            </div>
            <div>
                <div class="my-lg-5 mt-5 mb-2 heading_title">
                    <h2 class="text-white fs-48 ms-lg-3 fontbolder">Embrace the <br> spirit of India</h2>
                </div>
                <div class="heading_sub-title">
                    <p class="text-white text-justify ms-lg-4 fontbold">
                        An unparalleled legacy that spans millennia. Pure, authentic craft sourced from artisans across
                        the Indian sub-continent. Our vast collection of over 80 different craft forms celebrates a
                        heritage of some of the world’s oldest handicrafts.
                    </p>
                </div>
                <div class="marginbottom">
                    <button class="shopnow text-white">Shop Now</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mx-lg-auto my-lg-auto mt-3 slidewidth">
            <div id="carouselExampleSlidesOnly" class="carousel slide mt-md-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/banner/banner1.webp" class="d-block w-100" alt="banner1">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/banner/banner2.webp" class="d-block w-100" alt="banner2">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/banner/banner3.webp" class="d-block w-100" alt="banner3">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/banner/banner4.webp" class="d-block w-100" alt="banner4">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/banner/banner5.webp" class="d-block w-100" alt="banner5">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/banner/banner6.webp" class="d-block w-100" alt="banner6">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden text-dark">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden text-dark">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>