<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 background_image">
            <div class="ms-5">
                <img src="../../../assets/TICH-logo_2000x.webp" alt="logo" class="logo_image">
            </div>
            <div>
                <div class="ms-2 my-5">
                    <h2 class="text-white fs-48 heading_title ms-3">Embrace the <br> spirit of India</h2>
                </div>
                <div class="text-center">
                    <p class="text-white text-justify ms-4 heading_sub-title">
                        An unparalleled legacy that spans millennia. Pure, authentic craft sourced from artisans across the Indian sub-continent. Our vast collection of over 80 different craft forms celebrates a heritage of some of the world’s oldest handicrafts.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6"></div>
    </div>
</div>