<div class="container-fluid banner-backgroundcolor marginb100">
    <div class="row banner-image">
        <div class="col-lg-12 d-md-flex justify-content-lg-center banner_content">
            <div class="col-12 col-lg-5 col-md-6 px-3">
                <span>Our Mission</span>
                <h2 class="banner_heading fontbolder mb-3">Every purchase <br>
                    has a purpose</h2>
                <div class="col-lg-10">
                    <p class="fontbold banner_subtitle mb-4">We have direct partnerships with over 320 Indian artisans
                        and over 2000 indirectly. As a social
                        enterprise that seeks to offer a fair-trade platform, our primary purpose is to support
                        handicraft
                        workers. With each purchase you make, you can help make a difference.</p>
                </div>
            </div>
            <div class="col-12 col-md-4 my-lg-auto d-flex d-md-block px-3">
                <div class="textcount me-5">
                    <p class="mb-0">21+</p>
                    <span>STATES</span>
                </div>
                <div class="textcount">
                    <p class="mb-0">2000</p>
                    <span>INDIAN ARTISANS</span>
                </div>
            </div>
        </div>
    </div>
</div>