<div class="container-fluid overflow-hidden">
    <div class="row d-md-flex justify-content-md-center explore__component">
        <div class="col-lg-5 col-md-5">
            <p class="explore__heading">Explore a wide<br>
                selection of craft forms</p>
            <a href="#" class="learnmore text-white">Learn More</a>
        </div>
        <div class="col-lg-4 col-md-4 text-md-center my-md-auto my-3">
            <h3 class="mb-0 count100 text-white">100</h3>
            <span class="text-white craft-text">CRAFT FORMS</span>
        </div>
    </div>
</div>