$navtextcolor: #9c9384;
.navbar {
    .navbar-nav {
        margin-left: 10em;
        .nav-link {
            color: $navtextcolor;
            font-size: 1.3em;
            &:hover {
                color: $navtextcolor;
            }
        }
        .nav-item {
            position: relative;
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-color: #000000;
                width: 0%;
                content: "";
                height: 2px;
            }
            &:hover::after {
                width: 100%;
            }
        }
    }
    .loginbtn {
        color: $navtextcolor;
        cursor: pointer;
    }
    @media only screen and (min-width: 992px) {
        padding: 0;
        .navbar-brand {
            padding: 0 0.7em;
        }
        .navbar-nav {
            .nav-link {
                padding: -1em 0;
            }
            .nav-item {
                margin: 0 0.5em;
            }
        }
    }
}
