<div class="container overflow-hidden">
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <p>In focus</p>
            <h3 class="craft__heading marginb30">The world’s<br>
                oldest craft form</h3>
            <p class="craft__sub-heading marginb30 d-inline">Dhokra Metal Craft. Dhokra is amongst the oldest traditional techniques of
                metal casting in India,
                practiced for over 4,000 years, said to date back to the era of the Indus Valley Civilisation. The lost
                wax technique or ‘cire-perdue’ has been the medium of metal workers in Madhya Pradesh, Chhattisgarh,
                Orissa and West Bengal. Entirely handcrafted, the unique 13-stage process of Dhokra /Bell-metal making
                today, is an outcome of the original craft instinct handed down through the centuries. Dhokra or Bell
                metal is an alloy of brass, and other metals that impart an antique effect to the castings.</p>
            <div class="mt-4 mb-4">
                <app-seeall-button></app-seeall-button>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>