/* You can add global styles to this file, and also import other style files */

$app-black: #000000;
$backgroundcolor: #313323;
$font-weight-normal: 400;
$font-weight-bold: 700;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fs-48 {
    font-size: 48px;
}

.heading_info {
    background-color: $backgroundcolor;
    color: #ffffff;
}

.fontbolder {
    font-weight: $font-weight-bold;
}

.fontbold {
    font-weight: $font-weight-normal;
}
.textcount p {
    font-size: 70px;
    line-height: 77px;
    font-weight: $font-weight-bold;
}
.marginb100 {
    margin-bottom: 6.3em;
}

.marginb30 {
    margin-bottom: 30px;
}

.contentheader {
    font-size: 50px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .contentheader {
        font-size: 36px;
        margin-bottom: 17px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .contentheader {
        font-size: 36px;
        line-height: 40px;
    }
}
