/* You can add global styles to this file, and also import other style files */
:root {
    --marginleft5: 5px;
    --marginbtm100: 6.3em;
}

$app-black: #000000;
$backgroundcolor: #313323;
$font-weight-normal: 400;
$font-weight-bold: 700;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.fs-48 {
    font-size: 48px;
}

.heading_info {
    background-color: $backgroundcolor;
    color: #ffffff;
}

.fontbolder {
    font-weight: $font-weight-bold;
}

.fontbold {
    font-weight: $font-weight-normal;
}
.textcount p {
    font-size: 70px;
    line-height: 77px;
    font-weight: $font-weight-bold;
}
.marginb100 {
    margin-bottom: 6.3em;
}

.marginb30 {
    margin-bottom: 30px;
}
.marginb60 {
    margin-bottom: 60px;
}

.marginb44 {
    margin-bottom: 44px;
}

.contentheader {
    font-size: 50px;
    font-weight: 700;
}
.button__seeall {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 14px 28px;
    font-size: 20px;
    background-color: #f9f2ea;
    text-align: center;
}

.button__seeall:hover {
    background-color: black;
    color: white;
}
@media screen and (max-width: 768px) {
    .contentheader {
        font-size: 36px;
        margin-bottom: 17px;
    }
    :root {
        --marginbtm100: 50px;
    }
    .marginb60 {
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .contentheader {
        font-size: 36px;
        line-height: 40px;
    }
}
